.e-e-clients-logo .grid-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.e-e-clients-logo .grid-item {    
    box-sizing: border-box;
    padding: 15px;
}
.e-e-clients-logo .grid-item .ee--logo-img{
    box-sizing: border-box;
    width: 100%;
    transition: all .5s ease;
    &.normal_grayscale img{
        filter: grayscale(1);
    }
    &.hover_grayscale:hover img{
        filter: grayscale(1);
    }
    &.hover_to_default img{
      filter: grayscale(100%);
      &:hover{
        filter: grayscale(0%);
      }
    }
}
.e-e-clients-logo .ee--logo-img {
    text-align: center;
}
.e-e-clients-logo .e-e-grid-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: all .5s ease;
}