:root {
    --e-global-color-primary: #FFD012;
    --e-global-color-secondary: #0B3665;
}


.easyel-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 0;
    top: 3px;
    left: 4px;
    svg{
        height: 1em;
        width: 1em;
    }
}

.easyel-tooltip .easyel-tooltip-content {
    position: absolute;
    bottom: 125%; /* show above icon */
    left: 50%;
    transform: translateX(-50%);
    background: #121212;
    color: #fff;
    padding: 5px 8px;
    font-size: 13px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}

.easyel-tooltip.show .easyel-tooltip-content {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(-5px);
}
