.eel-team-wraps .grid-item {
  box-sizing: border-box;
}
.eel-team-wraps .grid-item .ee--team-img {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}
.eel-team-wraps .grid-item .ee--team-img a {
  color: currentColor;
}
.eel-team-wraps .grid-item .ee--team-img .eel-team-img-area {
  position: relative;
}
.eel-team-wraps .grid-item .ee--team-img .eel-team-img-area .eel-team-img-box {
  overflow: hidden;
  border-radius: 16px;
  margin: 0 auto;
}
.eel-team-wraps .grid-item .ee--team-img .eel-team-img-area .eel-team-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 0.5s ease;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.eel-team-wraps .grid-item .ee--team-img .eel-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: inherit;
  transition: background 0.3s, opacity 0.3s;
  z-index: 1;
}
.eel-team-wraps .grid-item .ee--team-img .eel-name-deg-wrap {
  background: #fff;
  padding: 26px 24px 24px 24px;
  border-radius: 8px;
  text-align: center;
}
.eel-team-wraps .grid-item .ee--team-img .eel-name-deg-wrap.inside {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  z-index: 2;
}
.eel-team-wraps .grid-item .ee--team-img .eel-name-deg-wrap .eel-name {
  margin: 0 0 5px;
}
.eel-team-wraps .grid-item .ee--team-img:hover img {
  transform: scale(1.1);
}
.eel-team-wraps .grid-item .eel-team-social {
  margin-top: 20px;
}
.eel-team-wraps .grid-item .eel-team-social ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0;
}
.eel-team-wraps .grid-item .eel-team-social ul li a {
  color: #C2B4FF;
  transition: all 0.5s ease;
}
.eel-team-wraps .grid-item .eel-team-social ul li a svg {
  fill: currentColor;
  height: 1em;
}
.eel-team-wraps .grid-item .eel-team-social ul li a:hover {
  color: #5933FF;
}
.eel-team-wraps .grid-item .eel-team-social.t_left, .eel-team-wraps .grid-item .eel-team-social.t_right {
  position: absolute;
  top: 0;
  left: 0;
}
.eel-team-wraps .grid-item .eel-team-social.t_left ul, .eel-team-wraps .grid-item .eel-team-social.t_right ul {
  flex-direction: column;
  gap: 8px;
}
.eel-team-wraps .grid-item .eel-team-social.t_left ul li a, .eel-team-wraps .grid-item .eel-team-social.t_right ul li a {
  background: #5933FF;
  color: #fff;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.eel-popup-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.eel-popup-content {
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 50px;
  border-radius: 8px;
  max-width: 550px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
}

.eel-popup-close {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}

.eel-popup-details {
  font-size: 15px;
  color: #333;
  line-height: 1.6;
  margin-top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.eel-popup-header {
  margin-bottom: 12px;
}

.eel-popup-name {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  margin-bottom: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.eel-popup-designation {
  font-size: 15px;
  color: #888;
  margin-bottom: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}/*# sourceMappingURL=team-grid.css.map */