:root{
    --easy-primary-color: #7455FF;
    --easy-white-color: #ffffff;
    --easy-title-color: #09051B;
    --easy-black-color: #000000;
}
/* Common Class CSS  */
.easyel-tColor{
    color: var(--easy-title-color);
}
.overflow-hidden{
  overflow: hidden;
}
.easyel-decoration-none{
    text-decoration: none;
}
.easyel-border-radius-20{
  border-radius: 20px;
}
.easyel-position-rl{
    position: relative;
}
.easyel-position-ab{
    position: absolute;
}
.easyel-top-0{
    top: 0;
}
.easyel-bottom-0{
    bottom: 0;
}
.easyel-star-0{
    left: 0;
}
.easyel-end-0{
    right: 0;
}
.easyel-section-gap{
    padding: 120px 80px;
}
.easyel-py-0{
    padding-top: 0px;
    padding-bottom: 0px;
}
.easyel-dflex{
    display: flex;
}
.easyel-align-center{
    align-items: center;
}
.easyel-justify-between{
    justify-content: space-between;
}
.easyel-section-heading .easyel-title{
    color: var(--easy-title-color);
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;
    margin: 0 0 35px;
}
.easyel-section-heading .easyel-desc{
    font-size: 18px;
    color: #09051bcc;
    margin: 0;
    text-transform: capitalize;
}
.easyel-tab-panel .easyel-dashboard-heading{
    font-size: 28px;
    font-weight: 500;
    color: var(--easy-title-color);
    line-height: 160%;
    padding: 0;
    margin-bottom: 25px;
}
.easyel-focus-hide:focus{
    box-shadow: none;
    outline: none;
    color: inherit;
}
/* End Common Class CSS  */
body.toplevel_page_easy-elements-dashboard #wpbody-content{
    font-family: "Inter", sans-serif !important;
    font-size: 16px;
}
.elementor-panel .elementor-element .icon i.rt-icon::before{
	display: none;
}
.elementor-panel .elementor-element .icon i.rt-icon::after{
    width: 30px;
    height: 30px;
    content: "";
    display: inline-block;
    border-radius: 5px;
	background: url("../img/icons/rt-logo.svg") no-repeat center center/cover;
}

.elementor-icons-manager__tab-link i.rt-icon{
    width: 30px;
    height: 30px;
    content: "";
    border-radius: 100%;
    background: url(../img/icons/rt-logo.svg) no-repeat center center/cover;
    display: inline-block;
    position: relative;
    top: 10px;
    margin-right: 6px;
}

.easy-form-table{
    background-color: #f9f9f9;
    border-top: 3px solid #003599;
}
.easy-widget-row strong{
    display: block;
}
.easy-form-table td {
    border: 1px solid #0000000a;
    padding: 25px !important;
    text-align: center;
    box-sizing: border-box;
    background: var(--easy-white-color);
}

.easy-form-table td:nth-child(2n+0) {
    background: #fafafa;
}

.eel-pro-notice {
    padding: 10px;
    color: #d94a4a;
    font-weight: bold;
}

.eel-popup-note {
    padding: 8px 10px;
    color: #2271b1;
    background: #f0f6fb;
    border-radius: 4px;
    margin: 8px 0 0 0;
    font-size: 14px;
}

/* Upload box */
#easyel-custom-fonts-upload-form input[type="file"] {
    padding: 10px;
    border: 2px dashed #0073aa;
    border-radius: 6px;
    background: #f1f1f1;
    width: 100%;
    margin-bottom: 10px;
    transition: border-color 0.3s, background 0.3s;
}
#easyel-custom-fonts-upload-form input[type="file"]:hover {
    border-color: #00a0d2;
    background: #e8f7ff;
}

/* Uploaded fonts grid */
#easyel-custom-fonts-upload-form input[type="file"] {
    padding: 10px;
    border: 2px dashed #0073aa;
    border-radius: 6px;
    background: #f1f1f1;
    width: 100%;
    margin-bottom: 10px;
    transition: all 0.3s;
}
#easyel-custom-fonts-upload-form input[type="file"]:hover {
    border-color: #00a0d2;
    background: #e8f7ff;
}
.easyel-fonts-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 15px;
}
.easyel-font-box {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #f9f9f9;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}
.easyel-font-box:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.easyel-font-box p { margin: 5px 0; }
.easyel-font-box .button-secondary { margin-top: 8px; }
h1,h2 { color: #0073aa; }

#easy-elements-notifications {
    position: fixed;
    top: 32px;
    right: 20px;
    z-index: 999999;
    max-width: 400px;
}

.easy-elements-notification {
    background: var(--easy-white-color);
    border-left: 4px solid;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    margin-bottom: 10px;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 14px;
    display: none;
}

.easy-elements-notification.success {
    border-color: #4CAF50;
    color: #155724;
    background-color: #d4edda;
}

.easy-elements-notification.error {
    border-color: #f44336;
    color: #721c24;
    background-color: #f8d7da;
}

.easy-elements-notification.info {
    border-color: #2196F3;
    color: #0c5460;
    background-color: #d1ecf1;
}


/*Theme builder css*/
.easyel-builder-tabs { 
    display:flex; 
    gap:10px; 
    margin:15px 0; 
    padding:10px; 
    background:var(--easy-white-color); 
    border:1px solid #ccd0d4;
}

.easyel-tab { 
    padding:6px 12px; 
    border:1px solid #ccd0d4; 
    text-decoration:none; 
    border-radius:4px; 
}
.easyel-tab.active,
.easyel-tab:hover { 
    background:#2271b1; 
    color:var(--easy-white-color); 
}

.easyel-choose-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.easyel-choose-template h2 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.easyel-template-type {
    width: 100%;
}

.easyel-builder-tmpl-type,
.easyel-builder-template-name {
    width: 100%;
    padding: 8px 15px !important;
    border: 1px solid #ddd !important;;
    border-radius: 4px !important;;
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

.easyel-builder-tmpl-type:focus,
.easyel-builder-template-name:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
}

.easyel-builder-tmpl-type option {
    padding: 10px;
}

.easyel-builder-template-name::placeholder {
    color: #aaa;
    font-style: italic;
}

/*****************************/
 /* Easy Elements Tab CSS */
/****************************/
.easyel-overview-header{
    padding: 24px 30px;
    background: var(--easy-white-color);
}
.easyel-plugin-settings-wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 35px;
}
/* Left Side */
.easyel-nav-tab-item{
    width: 20%;
}
.easyel-nav-tab-wrapper{
    position: sticky;
    top: 50px;
    height: 85vh;
}
.easyel-nav-tab-wrapper,
.easyel-tab-panel{
    padding: 20px;
    background: var(--easy-white-color);
}
.easyel-nav-tab{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    color: var(--easy-title-color);
    font-weight: 500;
    text-decoration: none;
    padding: 16px;
    margin-bottom: 24px;
    border-radius: 10px;
    transition:  0.3s;
    line-height: 1em;
}
.easyel-nav-tab i{
    font-size: 23px;
}
.easyel-nav-tab:focus,
.easyel-nav-tab:hover,
.easyel-nav-tab-active {
    background: var(--easy-primary-color);
    color: var(--easy-white-color);
    outline: none;
    box-shadow: none;
}
.easyel-tab-pro-link{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: calc(100% - 40px);
}
.easyel-tab-pro-link .easyel-nav-tab{
    margin-bottom: 0;
    border-radius: 8px;
    color: var(--easy-primary-color);
    background: #7455ff26;
    justify-content: center;
}
.easyel-tab-pro-link .easyel-nav-tab i{
    font-size: 23px;
}
/* Right Side  */
#easyel-tab-content{
    width: 80%;
}

/************************/
/* Start Overview Tab  */
/***********************/
.easyel-overview-area{
    margin: 0;
}
/* Start Banner Area */
.easyel-overview-area .easyel-banner-section .easyel-shape-2{
    margin-top: 30px;
}
.easyel-overview-area .easyel-banner-content-area{
    background: #f1f2fa80;
    padding: 120px 60px 78px;
}
.easyel-overview-area .easyel-banner-content{
    max-width: 432px;
    width: 100%;
    position: relative;
    z-index: 2;
}
.easyel-overview-area .easyel-banner-content .title{
    margin: 40px 0 70px;
    font-size: 56px;
    line-height: 1em;
}
.easyel-overview-area .easyel-banner-content .title span{
    color: var(--easy-primary-color);
    font-weight: 700;
}
.easyel-overview-area .easyel-banner-rating{
    flex-wrap: wrap;
    gap: 20px;
}
.easyel-overview-area .easyel-rating-content{
    gap: 20px;
}
.easyel-overview-area .easyel-banner-rating h3{
    font-size: 40px;
    margin: 0;
}
.easyel-overview-area .easyel-rating .rating-icon i{
    color: #1CB165;
    font-size: 16px;
    width: 16px;
    height: 16px;
}
.easyel-overview-area .easyel-rating span{
    color: var(--easy-black-color);
    font-size: 14px;
}
.easyel-overview-area .easyel-btn{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 28px;
    color: var(--easy-white-color);
    border: 2px solid transparent;
    border-radius: 30px;
    background: linear-gradient(to right, #8E74FF, var(--easy-primary-color) 57%, var(--easy-primary-color)) padding-box,
              linear-gradient(to right, var(--easy-primary-color), #C2B4FF) border-box;
    background-size: 200% 100%;
    background-position: left center;
    transition: all 0.4s ease;
}
.easyel-overview-area .easyel-btn i{
    font-size: 22px;
}
.easyel-overview-area .easyel-btn:focus,
.easyel-overview-area .easyel-btn:hover{
    color: var(--easy-white-color);
    background: linear-gradient(to left, var(--easy-primary-color), #8E74FF 57%, var(--easy-primary-color)) padding-box,
              linear-gradient(to left, #C2B4FF, var(--easy-primary-color) ) border-box;
    background-size: 200% 100%;
    background-position: right center;
    box-shadow: none;
    outline: none;
}

/* End Banner Area  */

/* Start Documentation Area  */
.easyel-overview-area .easyel-docx-area{
    gap: 40px;
}
.easyel-overview-area .easyel-docx-image-area{
    background: #F9FAFD;
    padding: 50px;
}
.easyel-overview-area .easyel-docx-image-area img{
    max-width: 100%;
}
.easyel-overview-area .easyel-docx-content{
    max-width: 490px;
    width: 100%;
    padding-bottom: 55px;
}
/* End Documentation Area  */

/* Start Video Area  */
.easyel-overview-area .easyel-video-heading{
    max-width: 600px;
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}
.easyel-overview-area .easyel-video-heading .easyel-title{
    margin-bottom: 20px;
}
.easyel-overview-area .easyel-video-items{
    gap:28px;
}
.easyel-overview-area .easyel-video-item{
    width: 33%;
}
.easyel-overview-area .easyel-video-img span{
    display: none;
}
.easyel-overview-area .easyel-video-img a{
    display: block;
    border-radius: 20px;
    overflow: hidden;
}
.easyel-overview-area .easyel-video-img a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--easy-white-color);
    opacity: 0.2;
}
.easyel-overview-area .easyel-video-img a img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}
.easyel-overview-area .easyel-video-img svg{
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.easyel-overview-area .easyel-video-item .easyel-video-text{
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 0 ;
    text-align: center;
}
.easyel-overview-area .easyel-video-btn{
    text-align: center;
    margin-top: 50px;
}

/* Popup Style */
#easyel-popup-video-area {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    z-index: 9999;
}
#easyel-popup-video-area .easyel-popup-content {
    position: relative;
    max-width: 800px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#easyel-popup-video-area .easyel-popup-video {
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    overflow: hidden;
}

#easyel-popup-video-area .easyel-popup-close {
    position: absolute;
    top: -23px;
    right: -23px;
    font-size: 18px;
    font-weight: bold;
    width: 32px;
    height: 32px;
    color: var(--easy-white-color);
    background: linear-gradient(to left, var(--easy-primary-color), #8E74FF 57%, var(--easy-primary-color));
    opacity: .8;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    justify-content: center;
    transition: all 0.3s ease;
}
#easyel-popup-video-area .easyel-popup-close:hover {
    transform: scale(1.1);
}

#easyel-popup-video-area iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}
/* End Video Area  */

/* Start Faq Area  */
.easyel-faq-area{
    gap: 40px;
}
.easyel-faq-content-area,
.easyel-faq-item-area{
    width: 100%;
}
.easyel-faq-heading{
    max-width: 335px;
    width: 100%;
}
.easyel-faq-heading .easyel-title{
    font-size: 32px;
    margin-bottom: 30px;
}
.easyel-faq-item:not(:last-child){
    padding-bottom: 40px;
}
.easyel-faq-item-heading {
    position: relative;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.easyel-faq-item-heading span{
    display: inline-block;
    width: 93%;
}
.easyel-faq-item-heading:before {
    content: "↓"; 
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    color: var(--easy-primary-color);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--easy-primary-color);
    border-radius: 50%;
}
.easyel-faq-item.active .easyel-faq-item-heading:before {
    content: "↑"; 
}
.easyel-faq-item-content {
    display: none;
    padding-top: 12px;
    font-weight: 500;
    line-height: 1.5;
    width: 90%;
}
/* End Faq Area  */

/* Start Request Feature Area  */
.easyel-requestFeature-section{
    background: #F9FAFD;
    padding: 100px 40px 40px;
}
.easyel-requestFeature-heading{
    max-width: 800px;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
}
.easyel-requestFeature-heading .easyel-title{
    margin-bottom: 20px;
}
.easyel-requestFeature-heading .easyel-btn{
    margin-top: 40px;
}
.easyel-requestFeature-image img{
    width: 100%;
}
/* End Request Feature Area  */

/* Start Support Area  */
.easyel-support-area{
    padding-top: 60px;
    gap: 20px;
}
.easyel-support-item{
    padding: 28px;
    position: relative;
}
.easyel-support-item-left{
    background: #F9FAFD;
}
.easyel-support-item img{
    width: 100%;
}
.easyel-support-heading{
    max-width: 450px;
    width: 100%;
    margin-bottom: 110px;
}
.easyel-support-heading .easyel-title{
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 28px;
}
.easyel-support-item .easyel-btn{
    position: absolute;
    left: 28px;
    bottom: 28px;
}
.easyel-support-item-right{
    background: var(--easy-primary-color);
}
.easyel-support-item-right .easyel-support-heading *{
    color: var(--easy-white-color) !important;
}
.easyel-support-item-right .easyel-btn{
    background: linear-gradient(to right, var(--easy-white-color), var(--easy-white-color)) padding-box,
              linear-gradient(to right, var(--easy-primary-color), #C2B4FF) border-box;
    color: var(--easy-primary-color);
}
.easyel-support-item-right .easyel-btn svg{
    fill: currentColor;
}
/* End Support Area  */

/****************************/
    /* End Overview Tab  */
/****************************/

/****************************/
   /* Start Widget Tab  */
/****************************/

/* Widget top section style  */
.easyel-addon-search button{
    font-size: 16px;
    line-height: 150%;
    border: none;
    box-shadow: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.easyel-addon-search .easyel-action-btn{
    background: #7455ff1a;
    color: var(--easy-primary-color);
    padding: 6px 16px;
    margin-right: 5px;
}
.easyel-addon-search .easyel-action-btn:hover,
.easyel-addon-search .easyel-action-btn.active{
    background: var(--easy-primary-color);
    color: var(--easy-white-color);
}
.easyel-widget-activeDeactivate-button button{
    background: var(--easy-primary-color);
    color: var(--easy-white-color);
    font-weight: 500;
    padding: 12px 24px;
}
.easyel-widget-activeDeactivate-button button#deactivate-all-btn{
     margin-left: 10px;
     background: #E21700;
}
.easyel-addon-search #element-search{
    width: 100%;
    font-size: 14px;
    background: #F4F6F8;
    color: var(--easy-title-color);
    padding: 8px 12px;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    margin-top: 24px;
    height: 36px;
}
.easyel-addon-search #element-search::placeholder{
     color: #919EAB;
}
/* Widget Item Style  */
.easyel-widgets-grid,
.easyel-extension-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-bottom: 20px;
}
.easyel-widget-group-title,
.easyel-extension-group-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--easy-title-color);
    margin: 40px 0 28px;
}
.easyel-widget-card {
    position: relative;
    overflow: hidden;
    background: #F1F2FA;
    padding: 10px;
    border-radius: 12px;
}
.easyel-widget-card.easyel-pro-enable {
    opacity: 0.7;
}
.easyel-widget-icon {
    font-size: 24px;
    width: 60px;
    height: 60px;
    background: var(--easy-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 12px;
    position: relative;
}
.easyel-pro-badge {
    position: absolute;
    left: 50%;
    top: -4px;
    background-color: #F2295B;
    color: var(--easy-white-color);
    border-radius: 36px;
    font-size: 8px;
    font-weight: 500;
    transform: translateX(-50%);
    display: inline-flex;
    align-items: center;
    gap: 3px;
    padding: 4px 6px;
    line-height: 100%;
}
.widget-header strong{
    font-size: 16px;
    font-weight: 600;
    color:var(--easy-title-color);
    line-height: 1.2;
}
.easyel-demo-link{
    margin-top: 8px;
    gap: 14px;    
}
.easyel-demo-link a{
    font-size: 12px;
    color: #09091480;
    text-decoration: none;
    box-shadow: none;
    transition: 0.3s;
    line-height: 1em;
}
.easyel-demo-link a i{
    font-size: 14px;
    margin-right: 8px;
}
.easyel-demo-link a:hover{
    color: var(--easy-primary-color);
}
/* Widget Toggle switcher */
.easy-toggle-switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-top: 0;
}
.easy-toggle-switch input,
.easyel-toggle-switch-extension input{
    opacity: 0;
    width: 0;
    height: 0;
}
.easy-toggle-switch .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--easy-white-color);
    transition: .4s;
    border-radius: 24px;
}
.easy-toggle-switch .slider:before,
.easyel-toggle-switch-extension .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    top: 4px;
    background-color: #E9EAED;
    transition: all .3s ease;
    border-radius: 50%;
}
.easy-toggle-switch input:checked + .slider,
.easyel-toggle-switch-extension input:checked ~ .slider {
    background-color: #22C55E;
}
.easy-toggle-switch input:checked + .slider:before {
    transform: translateX(16px);
}

/****************************/
    /* End Widget Tab  */
/****************************/

/****************************/
   /* Start Extention Tab  */
/****************************/

.easyel-toggle-switch-extension {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    gap: 10px;
}
.easyel-toggle-switch-extension .easyel-enable-all {
    font-size: 14px;
    font-weight: 500;
    color: var(--easy-title-color);
    line-height: 1;
    white-space: nowrap;
}
.easyel-toggle-switch-extension input {
    position: absolute;
}
.easyel-toggle-switch-extension .slider {
    position: relative;
    width: 44px;
    height: 24px;
    background-color: #E5E7EB; 
    border-radius: 24px;
    transition: all 0.3s ease;
}
.easyel-toggle-switch-extension .slider:before {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.easyel-toggle-switch-extension input:checked ~ .slider:before {
    transform: translateX(20px);
}
/****************************/
   /* End Extention Tab  */
/****************************/

/****************************/
   /* Start Responsive Area  */
/****************************/

@media only screen and (max-width: 1400px) {
   .easyel-nav-tab-item {
        width: 25%;
    }
    .easyel-plugin-settings-wrapper{
        gap: 20px;
    }
    .easyel-section-gap {
        padding: 60px 10px;
    }
}
@media only screen and (max-width: 1250px) {
    .easyel-section-heading .easyel-title{
        font-size: 30px;
    }
    .easyel-section-heading .easyel-desc{
        font-size: 16px;
    }
    .easyel-nav-tab-item {
        width: 30%;
    }
    .easyel-nav-tab{
        font-size: 16px;
    }
    .easyel-requestFeature-section{
        padding: 60px 16px;
    }
     /* Widget Tab  */
    .easyel-widgets-grid, .easyel-extension-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
    }
}
@media only screen and (max-width: 1024px) {
    .easyel-nav-tab-wrapper, 
    .easyel-tab-panel{
        padding: 20px 16px;
    }
    .easyel-nav-tab{
        padding: 13px;
        margin-bottom: 16px;
    }
    .easyel-overview-area .easyel-banner-content-area{
        padding: 80px 16px 60px;
    }
    .easyel-docx-area,
    .easyel-faq-area,
    .easyel-support-area{
        flex-direction: column;
    }
    .easyel-overview-area .easyel-docx-content,
    .easyel-faq-heading{
        max-width: 100%;
    }
    /* Widget Tab  */
    .easyel-addon-search button{
        padding: 10px 20px;
        font-size: 14px;
    }
    .easyel-widgets-grid, .easyel-extension-wrapper {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 768px) {
    .easyel-section-gap {
        padding: 35px 5px;
    }
    .easyel-documentation-section{
        padding-top: 60px;
    }
    .easyel-faq-section{
        padding-bottom: 60px;
    }
    .easyel-plugin-settings-wrapper{
        flex-direction: column;
    }
    .easyel-nav-tab-item,
    #easyel-tab-content{
        width: 100%;
    }
    .easyel-nav-tab-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        height: 100%;
    }
    .easyel-nav-tab{
        margin-bottom: 0px;
    }
    .easyel-tab-pro-link{
        position: inherit;
        width: 100%;
        margin-top: 20px;
    }
    .easyel-overview-area .easyel-banner-content .title{
        margin: 20px 0px 40px;
    }
}
@media only screen and (max-width: 576px) {
    .easyel-overview-area .easyel-banner-content .title{
        font-size: 36px;
    }
    .easyel-video-items{
        flex-direction: column;
        gap: 35px;
    }
    .easyel-overview-area .easyel-video-item{
        width: 100%;
    }
    .easyel-addon-search {
        flex-direction: column;
        gap: 20px;
    }
}